/*google font*/
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Montserrat|Patua+One|Rubik|Sniglet&display=swap');
	/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*about*/
header,
section {
	overflow-x:hidden;
}
header a {
	font-family: 'Sniglet', cursive;
	font-size: 0.9em;
	color: whitesmoke;
}
header {
	background: #f8ffb9;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: white;
	min-width: 160px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}

header .nav-item : last-child {
	padding-right: 10.5em;
}

header .nav-item {
	padding: 0.9em;
}
header .navbar-brand {
	padding-left: 8rem;
}
header .navbar-link:hover {
	color: black;
}
header .row .col-md-5 {
	padding: 30vmin 1vmin;
}

header .row .col-md-7 {
	padding: 22vmin 1vmin;
	padding-bottom: 35vmin;
	font-family: 'Rubik', sans-serif;
	color: white;
}
header .row .col-md-5 img {
	width: 90%;
	height: 100%;
		/*animation-name: bounceIn;
  	animation-duration: 4s;*/
}
header .container .col-md-7 h4 {
	padding: 1vmin;
	letter-spacing: 4px;
	color: black;
/*	animation-name: bounceIn;
  	animation-duration: 4s;*/
}
header .container .col-md-7 h1 {
	font-size: 8.5vmin;
	font-weight: bold;
	padding: 0.1em 0em;
	font-family: "Sniglet" ,sans-serif;
	color: black;
}
header .container .col-md-7 p {
	padding: 1vmin 5vmin;
	color: black;
}
header .container .col-md-7 button{
	border-radius: 30px;
	font-weight: bold;
	background-color: gray;
}


/*contact*/
.css-contact {
	margin: 0;
	padding: 0;
	/*background: url("../images/bg2.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	/*background: #f8ffb9;*/
}
.contact-form {
	width: 85%;
	max-width: 600px;
	background: #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-top: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: "Montserrat" ,sans-serif;
	margin-top: 50px;
}
.contact-form h1 {
	margin-top: 0;
	font-weight: 200;
}
.txtb {
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}
.txtb label {
	display: block;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	font-size: 14px;
}
.txtb input, .txtb textarea {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}
.btn {
	display: inline-block;
	background: #9b59b6;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 100%;
}

/* end contact */


/*about*/
.section-1 {
	padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
	opacity: 0.8;
	width: 80%;
	border-radius: 0.2em;
}
.section-1 .row .col-md-6 {
	position: relative;
}
.section-1 .row .col-md-6 .panel {
	position: absolute;
	top: 7vmin;
	left: -18vmin;
	background: white;
	border-radius: 3px;
	text-align: left;
	padding: 10vmin 5vmin 10vmin 5vmin;
	box-shadow: 0px 25px 42px rgba(0,0,0,0.5);
	font-family: 'Rubik', sans-serif;
	z-index: 1;
}
.section-1 .row	.col-md-6 .panel h1 {
	font-weight: bold;
	padding: 0.4em 0;
	font-size: 2em;
}
.section1 .row .col-md-6 .panel p {
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}

/*section 2*/

.cover {
	width: 100%;
	height: 55vmin;
	margin-top: 20px;
	/*margin-left: -100px;*/
	background: url("../images/menu4.jpg");
	background-position: center;
	background-size: 100%;
	position: relative;
	background-repeat: no-repeat;
	background: cover;
}

.cover	.content {
	background: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%
	padding-top: 19vmin;
}

.cover .content > h1 {
	font-family: 'Patua One', cursive;
	font-size: 6vmin;
	color: whitesmoke;
}
.cover .content > p {
	font-family: 'Rubik', sans-serif;
	font-size: 2vmin;
	color: #e5e5e5;
}
.numbers .rect {
	position: relative;
	z-index: 1;
	background: white;
	width: 17rem;
	height: 12rem;
	padding-top: 3.5vmin;
	margin: 1rem;
	border-radius: .5em;
	box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349)
}
.numbers {
	margin-top: -15vmin
}
.numbers .rect h1{
	font-size: 2.5rem;
	color: tomato;
}
.numbers .rect p {
	font-family:  'Patua One', cursive;
}
.purchase>h1 {
	padding-top: 15vmin;
	padding-bottom: 0.1em;
	font-family: 'Lobster', cursive;
}
.purchase > p {
	color: black;
	font-size: 3vmin;
	padding-bottom: 10vmin;
}
.purchase .cards .card {
	width: 22rem;
	margin-top: 3vmin;
}
.card div {
	padding: 0;
	margin: 0;
}
.cards .title {
	background: rgba(208,241,241,0.199);
	padding: 1.4rem 2.5rem;
	font-size: 2vmin;
}

.card .card-text {
	padding: 2.5rem 3rem;
	color: black;
}
.card-body .pricing {
	background: rgba(208,241,241,0.199);
	border-top-right-radius: 170px;
	border-top-left-radius: 170px;
}
.card-body .pricing > h1 {
	font-size: 10vmin;
	padding: 1em 0.5em;
}

/*section 3*/

.section-3 {
	height: 70vmin;
	margin-top: 15vmin;
	background: linear-gradient(to bottom, #dd2476, #ff512f);
}
.section-3 .col-md-12 > h1 {
	padding: 2em 0 0.5em 0;
	color: whitesmoke;
	font-size: 6vmin;
}
.section-3 .col-md-12 > p {
	padding: 0 4em;
	padding-bottom: 2em;
	color: black;
	font-size: 3vmin;
}

.section-3 .desktop {
	background: white;
	display: inline-block;
	border-radius: 3em;
	padding: 2vmin 4.5vmin;
	margin: 1em;
}

.section-3 .desktop h3 {
	font-size: 4vmin;
}
.section-3 .desktop p {
	font-size: 2vmin;
}

/*section 4*/

.section-4 .container h1 {
	font-size: 6vmin;
	padding-top: 14vmin;
}

.section-4 .team {
	padding: 10vmin 4vmin;
}
.sectio-4 .card {
	width: 22rem;
	margin-top: 10vmin;
}

.section-4 .card .card-text {
	padding-top: 0.5em;
}

.section-4 .card .card-body > a {
	font-size: 1.5em;
}

.section-4 .carousel-item {
	padding-left: 3rem;
}

.border-radius {
	border-radius: 340px;
	width: 60px;
}

/*footer*/

footer {
	background: rgba(0,0,0,0.815);
	overflow-x: hidden;
	padding: 8vmin 10vmin;
}
footer p > span {
	color: #ff512f;
}
footer input {
	border: none !important;
}
footer input::placeholder {
	color:  white !important;
}
footer .input-group .input-group-text {
	background: orange;
	border: none;
}

footer .column i {
	color: #dd2476;
}

footer .column i+i {
	padding: 0 0.5em;
}






